@model ReservationDeleteViewModel

<div class="modal" id="reservationDeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete reservation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this reservation?</p>
                <p>Client: @Model.Client.FirstName @Model.Client.LastName</p>
                <p>Room: @Model.Room.RoomNumber</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="confirmDeleteReservation('@Model.ReservationId')">Delete</button>
            </div>
        </div>
    </div>
</div>